.app {
	position: relative;
	margin: 0 auto;
	max-width: 850px;
	min-width: 593px;
	min-height: 493px;
	padding: 40px 30px;
	border-radius: 35px;
	background-color: #202442;
}

.title-app {
	text-align: left;
	margin: 0 0 15px 0;
	padding-left: 20px;
	color: #eee;
}
