.todo-page {
	position: relative;
	padding: 30px;
	min-height: 350px;
	border-radius: 35px;
	color: #eee;
	background-color: #242846;
}

.todo-page_title {
	text-align: center;
	margin: 0;
	color: #42cd83;
}

.todo-page_btn-back {
	margin-bottom: 10px;
	border: 0;
	color: #a1a1a1;
	background-color: inherit;
	cursor: pointer;
}

.todo-page_btn-back:hover {
	color: #42cd83;
}

.todo-page_inner {
	position: relative;
	display: block;
	width: 100%;
	min-height: 248px;
	border-radius: 15px;
	padding: 29px 20px 20px 20px;
	color: #eee;
	background-color: #2b3055;
}

.todo-page__completed {
	background-color: #243a46;
}

.todo-page_deleted {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #3df191;
}

.todo-page_error {
	position: absolute;
	top: 13px;
	left: 30px;
	color: #cd4242;
}

.item_button-wrapp {
	position: absolute;
	top: 13px;
	right: 15px;
}

.todo-page__text {
	font-size: 18px;
	font-weight: 500;
}

.input-edit {
	display: block;
	width: 100%;
	min-height: 199px;
	border: 0;
	padding-top: 16px;
	font-size: 16px;
	color: #eee;
	background-color: inherit;
	outline: none;
	resize: none;
}

.input-edit:focus,
.input-edit:active {
	min-height: 199px;
	border: 0;
	padding-top: 16px;
}

.item_button-edit {
	border: 0;
	color: #a1a1a1;
	background-color: inherit;
	cursor: pointer;
}

.item_button-complete {
	border: 0;
	color: #66917a;
	background-color: inherit;
	cursor: pointer;
}

.item_button-complete__active {
	color: #3df191;
}

.item_button-complete:hover,
.item_button-edit:hover {
	color: #42cd83;
}

.item_button-delete {
	border: 0;
	color: #a35f5f;
	background-color: inherit;
	cursor: pointer;
}

.item_button-delete:hover {
	color: #ff4242;
}
